@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
* {
  /*background-color: #e2e3e2;*/
}
.grid-container {
  display: grid;
  padding-left: 130px;
  padding-right: 130px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}
.title {
  font-family: arial;
  font-weight: 5px;
  font-size: 30px;
  text-align: center;
}
.paragraphs {
  font-family: arial;
  font-size: 15px;
  text-align: center;
}
