.wrapper {
  display: grid;
  font-family: arial;
  color: blue;
  text-align: justify;
  font-size: 1000px;
}
/*.wrapper < div {

}
.wrapper < div < p {
  font-family: arial;
  color: blue;
  text-align: justify;
  font-size: 1000px;
}*/
